<section id="call-for-participation">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Call for Participation</span></h2>
		  <p class="subtitle text-center">
            Would you like to become a speaker or suggest one? Great! This year we are reaching out to our global community and we are opening a Call for Participation (CFP). Please, submit your proposal(s) by April 19, 2020 at the latest using <a href="https://frab.paralelnipolis.cz/en/BSSC20/cfp">the following interface</a>. All applicants must read and agree to the <a href="#call-for-participation" onClick="alert('i. Submissions may only be submitted by researchers/speakers (no submissions from PR firms/marketing representatives) via CFP server.\nii. BSSC does not accept product or vendor-related pitches. BSSC will reject any product or vendor pitch.\niii. BSSC  will reject incomplete submissions; complete your submission in its entirety.\niv. Individuals may submit more than one proposal, but each submission must be created separately.\nv. Each submission must include detailed biographies of the proposed speaking team.\nvi. Submitters will be contacted directly if Review Board members have any questions about a submission.\nvii. Duration of a regular speaking slot is up to 50 minutes including the Q&A.')">CFP Submission Requirements</a> prior to making a submission.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
	
	<div class="row text-center">
      <a href="https://frab.paralelnipolis.cz/en/BSSC20/cfp" class="btn btn-main-color page-scroll">Submit proposal</a>
    </div>
  </div>
  <!-- /.container -->
</section>
