<section id="about">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>About BSSC20 - Human Error - May 26 - 27, 2020</span></h2>
		  <div class="row">
            <div class="col-md-8 col-sm-12 col-md-offset-2">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/LYilP-1TwMg" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <p class="subtitle text-center  mrgn-20-top">
            Human factor has always been and still remains the biggest information security threat. Most of organizations world-wide invest a lot to assorted technical solutions but not much to precaution against human factor threats. Looking at the common practise we see fecklessness and underestimation when it comes to way how to treat human risks. The obvious asymmetry between majority of successful “cyber attacks” based on some kind of social engineering (phishing mostly) and lack of effort and focus put into this topic on the side of organizations and individuals makes human error the biggest potential black swan of most IT systems security and thou event whole internet reliability and stability. Too flagrant? <a href="#about" onClick="alert('You have been hacked!')">Click here</a>.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title -->
  </div>
  <!-- /.container -->
</section>
