<section id="previous-years">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Previous years</span></h2>
          <p class="subtitle text-center">
            Since 2014, our crew has brought to you a number of unforgettable events, like <a href="https://opt-out.hcpp.cz/" target="_blank">HCPP19 - Opt-out</a>, <a href="https://neworder.hcpp.cz/" target="_blank">HCPP18 - New Order</a>, <a href="https://www.paralelnipolis.cz/black-swan-security-congress-en/" target="_blank">Black Swan 2018</a>, <a href="https://liberate.hcpp.cz/" target="_blank">HCPP17 - Liberate!</a>, <a href="https://decentralized.hcpp.cz/" target="_blank">HCPP16 - Decentralized</a>, <a href="https://blackout.hcpp.cz/eng/" target="_blank">HCPP15 - Blackout</a> and <a href="https://www.paralelnipolis.cz/hackers-congress-paralelni-polis-2014-schedule/" target="_blank">HCPP14</a>.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
