<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            The ticket sale will start on Sunday May 8, 2020 at 8PM CEST.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>

