<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            Tickets are available via our e-shop. Please note, that unlike the Hackers Congress Paralelní Polis #HCPP, the Black Swan Security Congress is very limited in terms of total number of attendees that the Institute of Cryptoanarchy venue is able to accommodate. THERE ARE ONLY 80 TICKETS IN TOTAL AVAILABLE FOR SALE. The event will not be live-streamed to the public internet.
          </p>
		  <p class="subtitle text-center">
            Current price of a non-business ticket for full two congress days is 1690 CZK (~66 EUR), price of a business ticket is 3690 CZK (~145 EUR).
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
	
	    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://donate.paralelnipolis.cz/bssc20/366-black-swan-regular-ticket" target="_blank" class="js-shop-link">
          <img src="/media/images/full-bssc20-ticket.jpg" class="img-responsive center-block">
        </a>
        <h3>Regular Ticket</h3>
        <p>
          <strong>Only 1690 CZK (~66 EUR)</strong>
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://donate.paralelnipolis.cz/bssc20/367-black-swan-regular-ticket-t-shirt-bundle" target="_blank" class="js-shop-link">
          <img src="/media/images/bssc-pack-ticket-t-shirt.jpg" class="img-responsive center-block">
        </a>
        <h3>Regular Ticket + T-Shirt Bundle</h3>
        <p>
          <strong>Only 1990 CZK (~78 EUR)</strong>
        </p>
      </div>

	  <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://donate.paralelnipolis.cz/bssc20/368-black-swan-business-ticket" target="_blank" class="js-shop-link">
          <img src="/media/images/full-bssc20-ticket.jpg" class="img-responsive center-block">
        </a>
        <h3>Business Ticket</h3>
        <p>
          <strong>Only 3690 CZK (~145 EUR)</strong>
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://donate.paralelnipolis.cz/19-bssc20/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>

