<section id="venue">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Venue - Institute of Cryptoanarchy</span></h2>
          <p class="subtitle text-center">
            Unique industrial multi-purpose professional event space in the heart of Holešovice district in Prague ideal for presenting various projects and hosting community events. Fully equipped with audio & video technology and able to accommodate up to 100 people.
          </p>
        </div>
      </div>
    </div>
	<div class="row">
      <div class="col-sm-12 col-md-6 mrgn-20-btm">
		<img src="/media/images/transparent.png" data-lazy="/media/images/venue1.jpg" class="img-responsive center-block"/>
	  </div>
	  <div class="col-sm-12 col-md-6 mrgn-20-btm">
		<img src="/media/images/transparent.png" data-lazy="/media/images/venue2.jpg" class="img-responsive center-block"/>
	  </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
